<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
  {% extends "form.html" %}
  {% block content3 %}

     <div style="padding-left: 10px;">
      <div class="info" style=" padding: 8px 0 8px 8px; display: inline; font-family: Arial;">
          <div style="line-height: 1.4; font-weight: bold; font-size: 16px; margin: 0;">{{name}} {{surname}}</div>
          <div style="line-height: 1.4; font-size: 14px; margin: 0 0 0 0; display: inline; color: #7f7c7c; ">{{job_title}}</div>
          <div style=" " >
            <img class="picture" src="{{branch_image_url}}" style="margin-bottom: -10px; margin-top: 10px;">
          </div>
          <p style="line-height: 1.6; font-size: 16px; margin: 20px 0 0 0; ">{{company_name}}</p>
          <p style="line-height: 1.6; font-size: 14px; margin: 0 0 0 0; display: inline;">{{address}}</p>
          <br>
          <br>
          <div style="line-height: 1.6; font-weight: bold;  display: inline; font-size: 14px; color: #7f7c7c;">tel</div><div style="font-size: 14px; margin-left: 22px; display: inline;">{{tel}}</div>
          <br>
          <div style="line-height: 1.6; font-weight: bold; display: inline; font-size: 14px;  color: #7f7c7c;">mob</div><div style="font-size: 14px; margin-left: 9px; display: inline;">{{mob}}</div>
          <br>
          <div style="line-height: 1.6; font-weight: bold; display: inline; font-size: 14px;  color: #7f7c7c;">mail</div><div style="font-size: 14px; margin-left: 11px; display: inline;">{{email}}</div>
      </div>

      <br>
      <br>

      <div style="display: -webkit-flex; -webkit-flex-wrap: nowrap; display: flex; flex-wrap: nowrap;  ">
        <div style=" " >
          <img class="picture" src="{{picture}}" alt="Antonela picture"   style="width:20vw; max-width:100px; margin-right:-2px; max-height: 136px; border-radius: 0 0 0 20px;">
        </div>
        <div style="">
          <img class="banner" src="https://www.borna-koruznjak.from.hr/projects/signature-images/banner3.jpg" alt="Antonela picture"  style="width:70vw;  max-width:350px; border-radius: 0 20px 20px 0; ">
        </div>
      </div>

      <div style="display: block;">
        <a style="text-decoration: none; color: black;" href="http://www.porscheinterauto.hr/"><div style= "font-family: Arial; font-size: 14px; margin-top: 5px;">www.porcheinterauto.hr</div></a>
      </div>
    </div>

{% endblock %}

</body>


</html>
